<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SudoBoat</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="parent">

    <div class="child1">

      <div id="header">
        <h6>Number of passengers: </h6>
        <form class="form-inline" action="/" method="post">

          <div class="form-group mx-sm-3">
            <input type="text" class="form-control input" name="num" placeholder=<%= pholder %> >
          </div>
          <button type="submit" class="btn btn-primary btn-sm button">Click here to calculate seating!</button>
        </form>

        <div class="heading">
           <h5> Aeroplane-Front</h5>
        </div>
      </div>

    
